@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Spectral:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
    font-size: large;
    color: #505050;
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', sans-serif;
    margin-bottom: 0.5rem;
    color: #ff7575;
}
h1,
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    color: #ff7575;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    height: 0.2rem;
    min-width: 300px;
    max-width: 300px;
    margin: 0 auto 3rem;
    padding: 0;
    border: none;
    background: linear-gradient(0.25turn, #ff7575, #ffffff, #ff7575);
}

/* header */
#header {
    padding: 0.6rem 9rem;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ffffffe0;
    box-shadow: 0 0 6px #ffcaca;
}
#sitelogo {
    font-family: 'Corben', sans-serif;
    font-size: larger;
    font-weight: bold;
}
#sitelogo span {
    font-size: small;
    color: #ff0000;
}
#sitelogo a {
    text-decoration: none;
}
#sitelogo img {
    background-color: #ffffff;
    color: #ff7575;
    min-width: 160px;
    max-width: 220px;
    height: auto;
    margin: 0;
    padding: 0;
}
#navimenu a {
    font-family: 'Corben', sans-serif;
    font-weight: normal;
    color: #505050;
    text-decoration: none;
}
#navimenu a:hover {
    color: #ff7575;
    text-decoration: underline #ff7575;
}
#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
@media (max-width: 800px) {
    #header {
        padding: 0.6rem 2rem;
    }
}

#container {
    margin: 0;
    padding: 0;
}

/* hero */
#hero {
    padding: 4rem 9rem;
    background-color: #ff7575;
    color: #ffffff;
    display: flex;
/*    flex: 1 1 auto;*/
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}
#hero img {
    max-height: 220px;
    border-radius: 50%;
    border: 4px solid #ff0000;
}
#hero p {
    font-family: 'Corben', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.2em;
    margin: 0 0.8rem;
    text-align: left;
    text-shadow: 2px 2px 0 #ff0000;
}
#hero span {
    margin: 0 0.2rem;
    padding: 0 1rem;
    background-color: #ffffff;
    color: #ff7575;
    border-radius: 1rem;
    text-shadow: none;
    box-shadow: 2px 2px 0 #ff0000;
}
@media (max-width: 800px) {
    #hero {
        padding: 4rem 1rem;
    }
    #hero p {
        font-size: 1.6rem;
    }
}

/* project */
#project {
    text-align: center;
    padding: 1rem 8rem 6rem;
}
#projectlist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    max-width: 300px;
    border: 1px solid #ffcaca;
}
.project:hover {
    box-shadow: 1px 1px 4px #ff7575;
}
.project img {
    width: 100%;
    object-fit: contain;
}
.project p {
    margin: 0.3rem auto 0.6rem;
}
.project a:hover {
    text-decoration: none;
}
@media (max-width: 800px) {
    #project {
        padding: 1rem 1rem 6rem;
        text-align: left;
    }
    #project h2 {
        text-align: center;
    }
}

/* about */
#about {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 8rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff7575;
    color: #ffffff;
}
#about h2 {
    color: #ffffff;
}
#about hr {
    background: linear-gradient(0.25turn, #ffffff, #ff7575, #ffffff);
}
#aboutcontainer {
    max-width: 500px;
    min-height: fit-content;
}
#about p {
    text-align: left;
    font-size: 1.3rem;
}
#about .resume {
    padding: 0.4rem 1.4rem 0.6rem;
    border: 3px solid #ffffff;
    border-radius: 1.8rem;
    background-color: #ffffff;
    color: #ff7575;
    font-family: 'Corben', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
#about .resume:hover {
    border: 3px solid #ffffff;
    background-color: #ff7575;
    color: #ffffff;
    text-decoration: none;
}
@media (max-width: 800px) {
    #about {
        padding: 1rem 1rem 6rem;
        text-align: left;
    }
    #about h2 {
        text-align: center;
    }
}

/* contact */
#contact {
    text-align: center;
    margin: 0;
    padding: 1rem 8rem 6rem;
}
#contactinfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#contactinfo ul li {
    font-size: x-large;
    line-height: 3rem;
}
@media (max-width: 800px) {
    #contact {
        padding: 1rem 1rem 6rem;
    }
    #contact h2 {
        text-align: center;
    }
}

/* blog */
#blog {
    text-align: center;
    margin: 0;
    padding: 1rem 8rem 6rem;
    background-color: #ffcaca;
}
#blog hr {
    background: linear-gradient(0.25turn, #ff7575, #ffcaca, #ff7575);
}
#bloglist {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: nowrap;
}
.blogpost {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 1rem;
    text-align: left;
}
.blogpost:hover {
    box-shadow: 1px 1px 4px #ff7575;
}
.blogpost h4 {
    text-align: left;
    margin: 0.8rem;
}
.blogpost p {
    margin: 0.5rem;
}
.blogpost a:hover {
    text-decoration: none;
}
@media (max-width: 800px) {
    #blog {
        padding: 1rem 1rem 6rem;
    }
    #blog h2 {
        text-align: center;
    }
}

/* footer */
#footer {
    padding: 2rem 8rem 2rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    font-family: 'Corben', sans-serif;
}
#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 0 0 auto;
    gap: 1.4rem;
}
#footer i {
    font-size: 2.4rem;
    color: #505050;
}
#footer i:hover {
    color: #ff7575;
}

/* hamburger menu */
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #505050;
}
@media (max-width: 800px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3.7rem;
        flex-direction: column;
        background-color: #ffffffef;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        text-align: center;
        box-shadow: 0 0 6px #ffcaca;
    }
    .nav-menu.active {
        left: 0;
    }
    .navilink {
        margin: 0.3rem;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}