@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Spectral:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #505050;
    font-family: 'Spectral', serif;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #ff7575;
    font-family: 'Corben', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
a {
    color: #ff7575;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    height: 0.2rem;
    max-width: 300px;
    margin: 0 auto 3rem;
    padding: 0;
    border: none;
    background: linear-gradient(0.25turn, #ff7575, #ffffff, #ff7575);
}
@media (max-width: 400px) {
    hr {
        max-width: 280px;
    }
}

/* header */
#header {
    margin: 0;
    padding: 0.4rem 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #ffcaca;
}
#header h1 {
    font-size: larger;
    text-transform: none;
    text-shadow: 0 0 8px #ffffff;
}
#header h1 span {
    color: #ff0000;
    font-size: small;
}
#navimenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.navilink a {
    color: #505050;
    font-family: 'Corben', sans-serif;
    text-shadow: 0 0 8px #ffffff;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 33px;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #505050;
}
@media (max-width: 400px) {
    #header {
        padding: 0.4rem 0.8rem;
    }
    #navimenu {
        position: fixed;
        left: -100%;
        top: 3.7rem;
        flex-direction: column;
        background-color: #ffffffef;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 6px #ffcaca;
    }
    #navimenu.active {
        left: 0;
    }
    .navilink {
        padding: 1rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}

#hero,
#project,
#about,
#contact {
    margin: 0;
    padding: 4rem 9rem;
    text-align: center;
}
@media (max-width: 400px) {
    #hero,
    #project,
    #about,
    #contact {
        padding: 4rem 0.8rem;
    }
}

/* hero */
#hero {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: 'Corben', sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    background-color: #ff7575;
    color: #ffffff;
}
#hero img {
    max-width: 240px;
    border-radius: 50%;
    border: 3px solid #ff0000;
}
#hero p {
    text-align: left;
    text-shadow: 2px 2px #ff0000;
    line-height: 4.8rem;
}
#hero p span {
    padding: 0 1rem;
    background-color: #ffffff;
    color: #ff7575;
    text-shadow: none;
    border-radius: 2rem;
    box-shadow: 2px 2px #ff0000;
}
@media (max-width: 400px) {
    #hero {
        display: block;
        font-size: 1.4rem;
    }
    #hero p {
        line-height: 3rem;
    }
}

/* project */
.mainproject {
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: left;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid #ffcaca;
}
.mainproject h4 {
    text-align: left;
}
.mainproject img {
    max-width: 380px;
    border-right: 1px dotted #ffcaca;
}
.mainproject p {
    text-align: left;
}
.mainproject p span {
    font-family: sans-serif;
    font-size: small;
    margin: auto 0.2rem;
    border: 1px solid #505050;
    border-radius: 2rem;
}
.mainproject p span::before,
.mainproject p span::after {
    content: '\00a0';
}
.mainproject p a {
    display: block;
}
#projectlist {
    margin: 1rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.project {
    margin: 0 auto;
    max-width: 280px;
    border: 1px solid #ffcaca;
}
.project:hover {
    box-shadow: 1px 1px 4px #ff7575;
}
.project img {
    max-width: 100%;
}
.project a {
    display: block;
}
.project p span {
    font-family: sans-serif;
    font-size: small;
    margin: auto 0.2rem;
    border: 1px solid #505050;
    border-radius: 2rem;
}
.project p span::before,
.project p span::after {
    content: '\00a0';
}
@media (max-width: 400px) {
    .mainproject {
        display: block;
    }
    .mainproject h4 {
        text-align: center;
    }
    .mainproject img {
        max-width: 100%;
        border-bottom: 1px dotted #ffcaca;
    }
    #projectlist {
        gap: 1rem;
    }
}

/* about */
#about {
    background-color: #ff7575;
    color: #ffffff;
}
#about h2 {
    color: #ffffff;
}
#about hr {
    background: linear-gradient(0.25turn, #ffffff, #ff7575, #ffffff);
}
#aboutcontainer {
    margin: auto;
    max-width: 500px
}
#aboutcontainer p {
    text-align: left;
}
#aboutcontainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
#aboutcontainer ul li {
    margin: 0;
    padding: 0 1rem;
    display: inline-block;
}
#about .resume {
    display: block;
    margin: 1.2rem auto;
    padding: 0.4rem 1.4rem;
    border: 3px solid #ffffff;
    border-radius: 1.8rem;
    background-color: #ffffff;
    color: #ff7575;
    font-family: 'Corben', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 300px;
}
#about .resume:hover {
    border: 3px solid #ffffff;
    background-color: #ff7575;
    color: #ffffff;
    text-decoration: none;
}

/* contact */
#contactinfo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#contactinfo ul li {
    font-size: larger;
    line-height: 3rem;
}

/* footer */
#footer {
    margin: 0;
    padding: 2rem 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Corben', sans-serif;
    background-color: #ffcaca;
}
#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
#footer ul li a {
    font-size: 2rem;
    color: #505050;
}
#footer ul li a:hover {
    color: #ff7575;
}
@media (max-width: 400px) {
    #footer {
        padding: 2rem 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    #footer ul li a {
        font-size: 2rem;
        color: #ff7575;
    }
}

/* back to top button */
#scrollBack {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 98;
    border: none;
    outline: none;
    background-color: #bbbbbb;
    color: #ffffff;
    cursor: pointer;
    padding: 1rem 1.2rem;
    border-radius: 2rem;
}  
#scrollBack:hover {
    background-color: #ff7575;
    color: #ffffff;
}
@media (max-width: 400px) {
    #scrollBack {
        bottom: 1.3rem;
        right: 1.3rem;
    }
}