@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Spectral:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #ffffff;
    color: #505050;
    font-family: 'Spectral', serif;
}
h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #ff7575;
    font-family: 'Corben', sans-serif;
}
a {
    text-decoration: none;
    color: #ff7575;
}
a:hover {
    text-decoration: underline;
}
img {
    width: 100%;
}
hr {
    height: 0.2rem;
    max-width: 300px;
    margin: 0 auto 3rem;
    padding: 0;
    border: none;
    background: linear-gradient(0.25turn, #ff7575, #ffffff, #ff7575);
}

#hero {
    padding: 4rem;
}
#project,
#about,
#contact {
    padding: 2rem 4rem;
}
@media (max-width:420px) {
    #hero,
    #project,
    #about,
    #contact {
        padding: 2rem 1rem;
    }
}

#project h2,
#about h2,
#contact h2,
#blog h2 {
    text-align: center;
    color: #ff7575;
}

#header ul,
#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* header */
#header {
    background-color: #ffcaca;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    font-family: 'Corben', sans-serif;
}
#header h1 span {
    font-size: 1rem;
    color: #ff0000;
}
#header h1 a:hover {
    text-decoration: none;
}
#header ul li a {
    color: #505050;
    text-transform: uppercase;
}
@media (max-width:560px) {
    #header {
        padding-bottom: 1.4rem;
    }
}
/* hero */
#hero {
    background-color: #ff7575;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1 1 auto;
    font-family: 'Corben', sans-serif;
}
#hero img {
    max-width: 260px;
    border: 1px solid #ff0000;
    border-radius: 50%;
}
#herotext p {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
    line-height: 200%;
}
@media (max-width: 420px) {
    #herotext p {
        font-size: 1.3rem;
    }
}
@media (min-width:421px) and ( max-width:900px) {
    #herotext p {
        font-size: 1.6rem;
    }
}
#herotext p span {
    margin: 0;
    padding: 0 0.8rem;
    background-color: #ffffff;
    color: #ff7575;
    text-shadow: none;
    box-shadow: 2px 2px #ff0000;
    border-radius: 3rem;
}

/* project */
.mainprojectlist {
    margin-top: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}
@media (max-width: 420px) {
    .mainprojectlist {
        flex-wrap: wrap;
    }
    .mainprojectlist h3 {
        text-align: center;
    }
}
@media (min-width:421px) and ( max-width:900px) {
    .mainprojectlist {
        flex-wrap: wrap;
    }
    .mainprojectlist h3 {
        text-align: center;
    }
}
.mainprojectlist img {
    max-width: 390px;
    border: 1px solid #ffcaca;
}
.mainprojectlist p span {
    padding: 0 0.4rem;
    font-family: sans-serif;
    font-size: 0.9rem;
    border: 1px solid #505050;
    border-radius: 2rem;
}
.mainprojectlist p a {
    display: inline-block;
    margin-right: 0.8rem;
}
#exerciselist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 1 auto;
}
.exercise {
    max-width: 30%;
    padding-bottom: 1rem;
}
.exercise h3 {
    text-align: center;
}
.exercise img {
    max-width: 100%;
    border: 1px solid #ffcaca;
}
.exercise p span {
    padding: 0 0.4rem;
    font-family: sans-serif;
    font-size: 0.9rem;
    border: 1px solid #505050;
    border-radius: 2rem;
}
.exercise a {
    display: inline-block;
    margin-right: 0.8rem;
}
@media (max-width:420px) {
    .exercise {
        max-width: 100%;
        margin-bottom: 2rem;
    }
}
@media (min-width:421px) and ( max-width:770px) {
    .exercise {
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

/* about */
#about {
    background-color: #ff7575;
    color: #ffffff;
}
#about h2 {
    color: #ffffff;
}
#about hr {
    background: linear-gradient(0.25turn, #ffffff, #ff7575, #ffffff);
}
#about a {
    color: #ffffff;
}
#about p {
    max-width: 500px;
    margin: 1.4rem auto;
}
#about p span {
    display: inline-block;
}
#about .resume {
    display: block;
    margin: 0.8rem auto;
    padding: 0.4rem 0.8rem;
    width: 300px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 2.4rem;
    background-color: #ffffff;
    color: #ff7575;
    font-family: 'Corben', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: capitalize;
}
#about .resume:hover {
    text-decoration: none;
    background-color: #ff7575;
    color: #ffffff;
}

/* contact */
#contact {
    background-color: #ffffff;
    text-align: center;
}
#contact a {
    display: block;
    margin: 1rem auto;
    width: 300px;
}

/* footer */
#footer {
    padding: 2rem;
    background-color: #ffcaca;
    color: #505050;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#footer ul li {
    margin: 0.8rem auto;
    font-size: 1.8rem;
}


/* back to top button */
#scrollBack {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 98;
    border: none;
    outline: none;
    background-color: #bbbbbb;
    color: #ffffff;
    cursor: pointer;
    padding: 1rem 1.2rem;
    border-radius: 2rem;
}  
#scrollBack:hover {
    background-color: #ff7575;
    color: #ffffff;
}
@media (max-width: 420px) {
    #scrollBack {
        bottom: 1.3rem;
        right: 1.3rem;
    }
}
